
<header>
	
	<div class="menu" style="vertical-align: center;">

		<a class=" btnMenuSuperior" ng-style="btn1" ui-sref="grillaEmpresas">nuevo arrivo</a>

		<a class=" btnMenuSuperior" ng-style="btn1" ui-sref="grillaEmpresas">actualizar datos</a>
		<!-- <a class=" btnMenuSuperior" ng-style="btn2" ui-sref="alta">Alta</a>  -->
		<!-- <a class=" btnMenuSuperior" ng-style="btn3" ui-sref="grilla">Grilla</a>  -->
		<!-- <a class=" btnMenuSuperior" ng-style="btn4" ng-click="deslogear()">Logout</a>  -->
		<!-- <a class=btnMenuSuperior  style="cursor:default;">bienvenido:{{userActual}}</a> -->
	</div>
	
</header>