 <div class="formAlta">
    <h2 class="titulo">Nuevo </h2>
    
    <form   enctype="multipart/form-data" method="" >
      
      		<!-- array empresas disponibles -->
			<label for="">Empresa</label>
			<select class="desplegableSalida" id="empresa">
				<option  ng-repeat="bus in arrayEmpresas" value=" {{bus.nomEmpresa}}"> {{bus.nomEmpresa}}</option>
				
			</select>
			

			<label for="">salida /origen /fecha /hora</label>

			<select class="desplegableSalida" id="origen">
				<option  ng-repeat="provinciaOrigen in arrayProvincias" value=" {{provinciaOrigen}}"> {{provinciaOrigen}}</option>
			</select>
			
			<select class="desplegableSalida" id="fechaSalida" >
				<option  ng-repeat="fechaSalida in arrayFechas" value=" {{fechaSalida}}"> {{fechaSalida}}</option>
			</select>
			<select class="desplegableSalida" id="horaSalida" >
				<option  ng-repeat="horaSalida in arrayHoras" value=" {{horaSalida}}"> {{horaSalida}}</option>
			</select>


			<label for="">Llegada /Destino /fecha /hora</label>
			<select class="desplegableSalida" id="destino" >
				<option  ng-repeat="provinciaLlegada in arrayProvincias" value=" {{provinciaLlegada}}"> {{provinciaLlegada}}</option>
			</select>
			
			<select class="desplegableSalida" id="fechaLlegada" >
				<option  ng-repeat="fechaLlegada in arrayFechas" value=" {{fechaLlegada}}"> {{fechaLlegada}}</option>
			</select>
			<select class="desplegableSalida" id="horaLlegada" >
				<option  ng-repeat="horaLlegada in arrayHoras" value=" {{horaLlegada}}"> {{horaLlegada}}</option>
			</select>
			<button class="btnEnviar" ng-click="guardar()">guardar</button>		
		
 
    </form>
</div>